
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using NetMVCTool.Models
@{ 

    var list = new List<apimodel>();
    list = ViewBag.List as List<apimodel>;

}

<h2>Index</h2>
<table>
    <tr>
        <th>縣市</th>
        <th>發布機關</th>
        <th>發布時間</th>
        <th>測站名稱</th>
        <th>紫外線指數</th>
        <th>緯度</th>
        <th>經度</th>
    </tr>


    @foreach (var item in list)
    {
        <tr>
            <td>@item.County</td>
            <td>@item.PublishAgency</td>
            <td>@item.PublishTime</td>
            <td>@item.SiteName</td>
            <td>@item.UVI</td>
            <td>@item.WGS84Lat</td>
            <td>@item.WGS84Lon</td>
        </tr>

    }
</table>